[submodule "uavcan_dsdl"]
	path = uavcan_dsdl
	url = https://github.com/UAVCAN/dsdl.git
[submodule "libuavcan"]
	path = libuavcan
	url = https://github.com/UAVCAN/libuavcan
[submodule "libcanard"]
	path = libcanard
	url = https://github.com/UAVCAN/libcanard.git
