{% extends "common_header.j2" %}
{% block contents %}

unsigned int {{ c_name }}_encode(uint8_t *buf, unsigned int offset, struct {{c_name}} *data) {
  unsigned int size = 0;
{%- for attr, offset in T.iterate_fields_with_offsets() -%}
{%- include "encode.j2" -%}
{%- endfor %}
  return size;
}

void {{ c_name }}_decode(uint8_t *buf, unsigned int buf_len, unsigned int offset, struct {{c_name}} *data) {
{%- for attr, offset in T.iterate_fields_with_offsets() -%}
{%- include "decode.j2" -%}
{%- endfor %}
}

{% endblock %}
