{% extends "common_header.j2" %}
{% block contents %}

#include <stdint.h>
{% for field in T.fields %}
  {%- if field.data_type is StructureType %}
#include "{{field.data_type.full_name.replace('.','/')}}_{{field.data_type.version[0]}}_{{field.data_type.version[1]}}.h"
  {%- endif %}
{%- endfor %}

enum {
{%- for field in T.fields %}
    {{ T.full_name | c.macrofy }}_{{ field.name | c.macrofy }}_TAG,
{%- endfor %}
} {{ c_name }}_tags;

struct {
  {{ T.tag_field_type | c.type_from_primitive(use_standard_types=True) }} union_tag;
{%- for field in T.fields %}
  {%- if field.data_type is not StructureType %}
  {{ field.data_type | c.type_from_primitive(use_standard_types=True) }} {{ field.name }};
  {%- else %}
  {{ field.data_type.full_name.replace('.','_') }} {{ field.name }};
  {%- endif %}
{%- endfor %}
} {{ c_name }};

{% endblock %}

