{#- TODO These need to be different extensions... maybe needs a nunavut PR #}
{% extends "base.j2" %}

{% from "helpers.j2" import define_composite %}

{% block contents %}
{{ define_composite(T.request_type) }}
---
{{ define_composite(T.response_type) }}
{% endblock %}